*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image:url("aboutimg.jpg");
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0px;
    display: flex;
}
.container span{
    color: brown;
    font-size: 65px;
}
.container h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 100px;
    align-items: center;
}
.container p{
    line-height: 1.5;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
.container ul{
    justify-content: center;
    margin-left: 600px;
    margin-top: 65px;   
}
.container ul a{
    background: rgb(97, 76, 65);
    margin: 26px 0;
    text-decoration:none;
    font-size: 19px;
    Letter-spacing: 2px;
    border-radius: 30px;
    color: rgb(196, 190, 182);
}
.container ul a:hover{
    background-color: rgb(103, 111, 111); 
}